################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
bin
obj
obj
bin
obj
bin
/SqlQueries.Test/SqlQueries.Test.1.0.0.nupkg
/.vs/SqlQueries/lut
